<section class="header  border-b-2 border-slate-50 flex px-3 py-2">
  <div class="left flex items-center gap-x-2 ">
    <fa-icon [icon]="faBars" class="icon text-primary-blue "></fa-icon>
    <!-- logo section <a href="/">
            <img
                src="assets/images/okapy_couture.png"
                alt="logo"
                class=" w-auto h-7 "
            >
        </a> -->
  </div>
  <div class="right flex-1 flex">
    <div class="search-bar rounded-md border">
      <input type="text" name id placeholder="Search..." autocomplete="off">
      <mat-icon fontIcon="search" class="text-gray-400 cursor-pointer"></mat-icon>

    </div>

    <div class="profil  gap-x-3">
      <div class="greeting flex-col justify-end">
        <div class="flex items-end flex-col">
          <p class="font-bold text-sm m-0">
            <span class="text-sm text-slate-300">Hey,</span>
            {{username}}
          </p>
          <span class="text-sm text-slate-300" *ngIf="isAdmin">Administrateur</span>
          <span class="text-sm text-slate-300" *ngIf="isMod">Moderateur</span>
          <span class="text-sm text-slate-300" *ngIf="isUser">Utilisateur</span>
        </div>
      </div>

      <img src="assets/images/profile.png" class="rounded-full w-8 h-8" alt>
    </div>
  </div>
</section>