<section class="sidebars">
    <!-- begining of top sidebar -->
    <ul class="top-sidebar-items">
        <p class="title">Main</p>
        <a href="/">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faDashboard"
                    class="icon"
                ></fa-icon>
                <span>Tableau de bord</span>
            </li>
        </a>
        <p class="title">List</p>
        <a routerLink="clients">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faUserRegular"
                    class="icon"
                ></fa-icon>
                <span>Clients</span>
            </li>
        </a>
        <a routerLink="mesures">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faTape"
                    class="icon"
                ></fa-icon>
                <span>Mesures</span>
            </li>
        </a>

        <a routerLink="couturiers">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faUserRegular"
                    class="icon"
                ></fa-icon>
                <span>Couturiers</span>
            </li>
        </a>
        <a href="/">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faUserRegular"
                    class="icon"
                ></fa-icon>
                <span>Utilisateurs</span>
            </li>
        </a>
    </ul>
    <!-- end of top sidebar -->
    <!-- begining of bottom sidebar -->
    <ul class="bottom-sidebar-items">
        <p class="title">User</p>
        <a href="/">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faUserRegular"
                    class="icon"
                ></fa-icon>
                <span>Profil</span>
            </li>
        </a>
        <a href="/">
            <li class="sidebar-item">
                <fa-icon
                    [icon]="faArrowRightFromBracket"
                    class="icon"
                ></fa-icon>

                <span>Deconnexion</span>
            </li>
        </a>
    </ul>
    <!-- end of bottom sidebar -->
</section>
